<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Restaurants</h1>
      <% @restaurants.each do |restaurant| %>
      <p>
        <%= link_to restaurant.name.capitalize, restaurant_path(restaurant) %>
        <%= restaurant.category.capitalize%>
        <%= link_to "", restaurant_path(restaurant),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: 'glyphicon glyphicon-trash' %>
      </p>
      <% end %>
      <br>
      <%= link_to(new_restaurant_path) do %>
      <i class="fas fa-plus"></i>
      Add a new restaurant
      <% end %>
    </div>
  </div>
</div>
